html,
body,
#root {
    height: 100%;
    margin: 0;
}
.flex-container {
    display: flex;
    width: 700px;
    height: 300px;
    justify-content: space-between;
}
div {
    width: 100px;
    height: 100px;
    background-color: #daa520;
    border-radius: 50%;
}
.flex-container > div:nth-child(1) {
    align-self: flex-start;
}
.flex-container > div:nth-child(5) {
    align-self: flex-start;
}
.flex-container > div:nth-child(2),
.flex-container > div:nth-child(4) {
    align-self: center;
}
.flex-container > div:nth-child(3) {
    align-self: flex-end;
}
